<!doctype html>
<html>
    <head>
        <title>chat</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    </head>
    <body>
        <p id="welcome"></p>
        <div id="log">
            user: <input type="text" id="user" value="jh">
            <br/>
            room name: <input type="text" id="roomname" value="whatap">
            <br/>
            <input type="button" id="enter" value="go!">
        </div>

        <div id="chat" style="display:none">
            <div style="width:300px; border:1px solid;" id="txtarea">
                <dl id="txtappend">
                    
                </dl>
            </div>
            <br>
            <input type="text" style="width:240px;" id="txt">
            <input type="button" value="send" id="btn">
        </div>


        <script src="/javascripts/chat.js"></script>
    </body>
</html>